<a href="https://colab.research.google.com/github/simpsone4652/data_science/blob/main/Cwiczenia%2011-20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cwiczenie 11

In [3]:
import pandas as pd
 
 
df = pd.DataFrame(data={'weight': [75., 78.5, 85., 91., 84.5, 83., 68.]})
df['weight_cut'] = pd.cut(df['weight'], bins=(60, 75, 80, 95), labels=['light', 'normal', 'heavy'])
# tutaj wpisz rozwiÄ…zanie
df = pd.get_dummies(df, columns=['weight_cut']) #lub samo df
df

   weight  weight_cut_light  weight_cut_normal  weight_cut_heavy
0    75.0                 1                  0                 0
1    78.5                 0                  1                 0
2    85.0                 0                  0                 1
3    91.0                 0                  0                 1
4    84.5                 0                  0                 1
5    83.0                 0                  0                 1
6    68.0                 1                  0                 0

Cwiczenie 12

In [7]:
import pandas as pd


data_dict = {
    'currency': [['PLN', 'USD'], ['EUR', 'USD', 'PLN', 'CAD'], ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}
df = pd.DataFrame(data=data_dict)

#rozwiazanie
df['number'] = df['currency'].apply(len)
df

               currency  number
0            [PLN, USD]       2
1  [EUR, USD, PLN, CAD]       4
2                 [GBP]       1
3       [JPY, CZK, HUF]       3
4                    []       0

Cwiczenie 13

In [8]:
import pandas as pd


data_dict = {
    'currency': [['PLN', 'USD'], ['EUR', 'USD', 'PLN', 'CAD'], ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}
df = pd.DataFrame(data=data_dict)
#rozwiÄ…zanie
df['PLN_Flag'] = df['currency'].map(lambda x: 1 if 'PLN' in x else 0)
df

               currency  PLN_Flag
0            [PLN, USD]         1
1  [EUR, USD, PLN, CAD]         1
2                 [GBP]         0
3       [JPY, CZK, HUF]         0
4                    []         0

Cwiczenie 14

In [22]:
import pandas as pd


df = pd.DataFrame(data={'hashtags': ['#good#vibes', '#hot#summer#holiday', '#street#food', '#workout']})
# trozwiÄ…zanie
df = df['hashtags'].str.split('#',expand=True)
df=df.drop(columns=[0])
df.columns=['hash1','hash2','hash3']
df

     hash1   hash2    hash3
0     good   vibes     None
1      hot  summer  holiday
2   street    food     None
3  workout    None     None

Cwiczenie 15

In [26]:
import pandas as pd


df = pd.DataFrame(data={'hashtags': ['#good#vibes', '#hot#summer#holiday', '#street#food', '#workout']})
df = df['hashtags'].str.split('#', expand=True)
df = df.drop(columns=[0])
df.columns = ['hashtag1', 'hashtag2', 'hashtag3']
# tutaj wpisz rozwiÄ…zanie
df['missing'] = df.isnull().sum(axis=1)
df

  hashtag1 hashtag2 hashtag3  missing
0     good    vibes     None        1
1      hot   summer  holiday        0
2   street     food     None        1
3  workout     None     None        2

Cwiczenie 16

In [31]:
import pandas as pd


df = pd.DataFrame(data={'investments': ['100_000_000', '100_000', '30_000_000', '100_500_000']})
# wpisz tutaj rozwiÄ…zanie
df['investments']= df['investments'].str.replace('_','').astype('int')
df

   investments
0    100000000
1       100000
2     30000000
3    100500000

Cwiczenie 17

In [34]:
from sklearn.datasets import load_iris
data = load_iris()
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

Cwiczenie 18

In [38]:
print(data['feature_names'])
print(data['target_names'])

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']

Cwiczenie 19

In [40]:
from sklearn.datasets import load_iris


data_raw = load_iris()
data = data_raw['data']
target = data_raw['target']
print(data.shape)
print(target.shape)

(150, 4)
(150,)

Cwiczenie 20

In [41]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split


data_raw = load_iris()
data = data_raw['data']
target = data_raw['target']
# wpisz tutaj rozwiÄ…zanie
data_train,target_train,data_test,target_test = train_test_split(data,target,test_size=0.3)
print(f'data_train shape: {data_train.shape}')
print(f'target_train shape: {target_train.shape}')
print(f'data_test shape: {data_test.shape}')
print(f'target_test shape: {target_test.shape}')

data_train shape: (105, 4)
target_train shape: (45, 4)
data_test shape: (105,)
target_test shape: (45,)